@mixin bordered {
    border: 10px rgba(102,51,102,.9) dashed;
    box-sizing: border-box;
}

/**
 * Fix styles
 */
body {
    margin: 0;
    padding: 0;
    background: rgba(51,153,51, 0.5);
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

/**
 * Login design
 */
.wrapper {
    text-align: center;
    height: 900px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.chat {
    @include bordered;

    height: 50%;
    width: 50%;
}

.chat__title {
    box-sizing: border-box;

    border: 3px solid aquamarine;
    border-top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    font-size: 32px;
    color: darkslategrey;
}

.chat__list {
    height: 80%;
    overflow-y: auto;
}

.chat__form {
    margin-top: 0.5rem;
    height: 10%;
}

.games {
    @include bordered;
    
    height: 50%;
    width: 25%;
}

.games__title {
    box-sizing: border-box;

    border: 3px solid aquamarine;
    border-top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    font-size: 32px;
    color: darkslategrey;
}

.games__names {
    font-size: 28px;
    color: darkred;
    height: 90%;
    overflow-y: auto;
}

.users {
    @include bordered;
    
    height: 50%;
    width: 25%;
}

.users__title {
    box-sizing: border-box;

    border: 3px solid aquamarine;
    border-top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    font-size: 32px;
    color: darkslategrey;
}

.users__names {
    font-size: 28px;
    color: darkred;
    height: 90%;
    overflow-y: auto;
}

.create__form {
    @include bordered;

    height: 10%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
}

.create__form__label {
    width: 20%;
    margin: 0 auto;
}

.create__form__gamename {
    width: 20%;
    margin: 0 auto;
}

.create__form__submit {
    width: 20%;
    margin: 0 auto;
    border: 0;
}