/**
 * Fix styles
 */
body {
  margin: 0;
  padding: 0;
  background: rgba(51, 153, 51, 0.5); }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style-type: none; }

/**
 * Login design
 */
.wrapper {
  text-align: center;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center; }

.loginform__content {
  margin-top: 1rem;
  display: flex;
  flex-direction: column; }

.loginform__user {
  text-align: center;
  width: 25%;
  margin: 0 auto;
  border: 0; }

.loginform__pass {
  text-align: center;
  width: 25%;
  margin: 0 auto;
  border: 0; }

.loginform__submit {
  width: 25%;
  margin: 0 auto;
  padding: 0;
  border: 0;
  margin-top: 0.5rem; }

.loginform__submit:hover {
  outline: 1px black solid; }
