@mixin bordered {
    border: 10px rgba(102,51,102,.9) dashed;
    box-sizing: border-box;
}

/**
 * Login design
 */
.home__wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.home__content {
    // @TODO: make additional styles for form
}

.home__form {  
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.home__user {
    text-align: center;
    width: 25%;
    margin: 0 auto;
    border: 0;
}

.home__pass {
    text-align: center;
    width: 25%;
    margin: 0 auto;
    border: 0;
}

.home__submit {
    width: 25%;
    margin: 0 auto;
    padding: 0;
    border: 0;
    margin-top: 0.5rem;
}

.home__submit:hover {
    outline: 1px black solid;
}